#-----------------------------
# ignore files or directories
#-----------------------------
#-----------------------
# ignore directories
#-----------------------
release/
debug/
build/
libs/
# for Sphinx
doctrees/
html/
# for Darwin
.DS_Store
*.app/
# for Coverity Scan
cov-int/
# funfun's settings
kero_keyboard/
template/
#-----------------------
# ignore source files
#-----------------------
src/ui_*.h
src/moc_*.h
src/moc_*.cpp
src/qrc_*.cpp
#-----------------------
# ignore files
#-----------------------
Makefile
*.Release
*.Debug
*.bak
*.log
*~
# for Qt
build-*/
*.pro.user
src/.qmake.*
# for windows
*.exe
*.dll
# for unix
*.o
*.a
# for testing
*.qtbf
